<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
        <ul>
            <li><h1>Estudio 1</h1><h2>Años 2003 A 2008</h2></li>
            <h3>- Estudios primarios "ESCUELA CAPITAN JUAN DE ZEVALLOS" (Argentina-Cordoba-Valle Hermoso)</h3>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1><h2>Años 2009 A 2015</h2></li>
            <h3>- Estudios secundarios "ESCUELA SECUNDARIA Nº7 Bachiller en ciencias sociales" (Argentina-Buenos aires-General Villegas </h3>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1><h2>Años 2022 A 2023</h2></li>
            <p></p>
        </ul>
    </div>
</div>
