<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
        <ul>
            <li><h1>Trabajo 1</h1><h2>Años 2016 - 2017</h2></li>
            <h3>- Mantenimientos de parques y ayudante de albañil.</h3>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1><h2>Años 2017 - 2019</h2></li>
            <h3>- Mecanica del automotor y Herreria.</h3>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1><>h2Años 2019 - 2023</h2></li>
            <h3>- Fabrica metalurgica y extras de deliveri.</h3>
        </ul>
    </div>
</div>
