<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/FotoGaston.jpg" class="img-fluid" id="fotodeperfil">
      </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">Navarro Gastón Andrés</p>
<p>Full Stack Developer jr</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
<p>Hola mundo con todo respeto me presento, soy Gastón, tengo 25 años estoy dispuesto aprender y dar lo mejor para alcanzar objetivos, soy nuevo en la programacion y actualmente estoy capacitandome empeze un poco con miedo pero de apoco fue atrapandome, Gracias a Dios lo empiezo a disfrutar...</p>
        </span>
      </div>
</div>